.main {
  min-height: 100vh;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 8rem;

    .text {
      font-size: 1.5rem;
      p {
        margin: 0;
      }

      p span {
        font-weight: 600;
        color: #00264d;
      }

      p.subtext {
        font-size: 1rem;
        color: #698096;
      }
    }
    .filter {
      position: relative;

      button {
        border: none;
        background-color: transparent;
        color: #0080ff;
        cursor: pointer;

        &:focus {
          border: 1px solid #0080ff;
          border-radius: 1rem;
        }
      }

      .filterOpt{
                position: absolute;
                top: 3rem;
              }
    }
  }

  .hotels {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 8rem;
    // justify-content: space-between;
    gap: 7.5rem;
  }
  .hotel {
    position: relative;
    background-color: #fff;
    border-radius: 1.5rem;

    .img {
      border-radius: 1.5rem;
      position: relative;
      width: 100%;
      height: 20rem;
      overflow: hidden;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        background: linear-gradient(to top, rgba(18, 57, 82, 0.95), transparent);
        z-index: 1;
      }

      .text-overlay {
        position: absolute;
        bottom: 20px;
        left: 20px;
        color: white;
        z-index: 2;
        font-size: 1.5rem;
        font-weight: 600;

        & span {
            color: #698096;
            font-size: 0.8rem;
        }
      }
    }

    .title {
        font-size: 1.25rem;
        font-weight: 600;
        color: #00264d;
        padding: 0rem 1rem;
        
        p {
            margin: 5px;
        }
    }

    .info {
        margin-bottom: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0rem 1rem;
        .icon {
            color: #F2BF09;
        }

        button {
            background-color: #0080ff;
            color: white;
            border: none;
            border-radius: 1rem;
            padding: 0.5rem 1rem;
            font-size: 1rem;
            cursor: pointer;
            transition: all 0.3s ease;

           
        }
    }
  }
}
